
.presentation{
	
	margin-top:20px;
	
}
.presentation .presentation-remb{
	
	margin-top:10px;
}
.presentation .img img{
	
	width:300px;
	height:auto;
	float:left;
	margin-right:15px;
}
.presentation article{
	
	padding:5px;
}
.presentation article article{
	
	
}
.presentation .nav-right-association{
	
	border-left:6px solid white;
}
.presentation .nav-right-association li a:hover{
	
	background-color: #D8D8D8 ;
}
.presentation h1{
	
	font-size:30px;
	border-left:2px solid rgba(46, 138, 138,0.8);
	border-bottom:3px solid rgba(46, 138, 139,1);
	padding:5px;
	border-radius:5px;
}
.equipe h3, .realisation h3{
	color:#337ab7;
	font-size:16px;
}
.equipe img, .realisation img{
	
	width:200px;
	padding:5px;
}
.equipe div, .realisation div{
	margin-left:20px;
	
}

.equipe, .realisation{
	
	margin-top:8px;
	border-left:2px solid rgba(46, 138, 138,0.8);
	border-bottom:3px solid rgba(46, 138, 139,1);
	border-radius:10px;
	padding:5px;
}
#ancre_haut{
	float:right;
	padding:5px;
	font-size:16px;
	color:#991766;
}