<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mémoires</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../framework/bootstrap-3.3.6/css/bootstrap.min.css"  >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
		
	<!-- Optional theme -->
	<link rel="stylesheet" href="../framework/bootstrap-3.3.6/css/bootstrap-theme.min.css" >
	<!-- Latest compiled and minified JavaScript -->
	<script src="../framework/jquery/jquery-1.12.1.min.js" ></script>
	<script src="../framework/bootstrap-3.3.6/js/bootstrap.min.js" ></script>  
	<link href='../framework/fullcalendar-2.6.1/fullcalendar.css' rel='stylesheet' />
	<link href='../framework/fullcalendar-2.6.1/fullcalendar.print.css' rel='stylesheet' media='print' />
	<script src='../framework/fullcalendar-2.6.1/lib/moment.min.js'></script>
	<script src='../framework/fullcalendar-2.6.1/lib/jquery.min.js'></script>
	<script src='../framework/fullcalendar-2.6.1/fullcalendar.min.js'></script>
	<script src='../framework/fullcalendar-2.6.1/lang-all.js'></script>
	<link rel="stylesheet" type="text/css" href="../css/general.css">
	<link rel="stylesheet" type="text/css" href="../css/accueil.css">
	<link rel="stylesheet" type="text/css" href="../css/rapport.css">
	<link rel="stylesheet" media="screen and (max-width:1700px)" type="text/css" href="css/accueil_small_screen.css" >	
	<script src="../framework/jquery/jquery-1.11.14-ui.min.js" ></script>
    <link rel="stylesheet" href="../framework/jquery/jquery-1.11.14-ui.css">
 </head>
 <body>
 	
 	<section class="container-fluid master">
 		<a href="#"><span id="download" class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
 		<h1>Le parlement et la marine de guerre en France (1871-1914)</h1>
 		
 		<p> Entre 1871 et 1914, la marine militaire française doit s’adapter aux mutations technologiques qui transforment la guerre sur mer. Au même moment, le régime parlementaire de la Troisième République s’affirme. Les équilibres institutionnels du nouveau régime offrent au Parlement un important pouvoir de contrôle sur le pouvoir exécutif. Mais celui-ci ne se développe qu’avec l’expérience grandissante des parlementaires et l’organisation progressive de leur travail. La naissance des Commissions de la Marine au début des années 1890 participe à cette organisation. Les parlementaires qui s’intéressent à la Marine sont d’autant plus nombreux que les débats autour des théories la Jeune École attirent l’attention de l’opinion publique.

		<p>Cette Jeune École voit dans les progrès techniques de l’époque, les moyens pour la France de se doter d’une marine de guerre plus efficace et moins coûteuse. Parallèlement, l’évolution des navires nécessite l’aménagement des ports de guerre et la réorganisation des personnels de la Marine. Ces changements mobilisent des intérêts financiers, humains et matériels. Par l’étude des travaux parlementaires concernant la Marine, cette étude tente d’identifier les influences contradictoires s’exerçant au Parlement sur la politique navale du pays. La défense des intérêts locaux et particuliers est le fait de véritables groupes de pression. Ces groupes développent des stratégies différentes et obtiennent des résultats variables. De cette façon, ce travail met en avant l’ensemble des influences démocratiques s’exerçant sur la Marine entre 1871 et 1914.
 		 <nav class="article_pagination">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active" ><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
 	</section>

 </body>
</html>