{% extends 'MainBundle::base.html.twig' %}

{% block main_master %}

 	<section class="offre">
 		
 		<h1><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>Hôte, hôtesse d'accueil, CDI (Paris)</h1>
 		
 		<label>Fonction</label>
 		<p> Administration, services généraux - Services à la personne</p>
 		<label>Expérience</label>
 		<p> moins d'1 ans</p>
 		<label>Type de contrat</label>
 		<p> CDI</p>
 		<label>Secteur d'activité</label>
 		<p> Services aux entreprises </p>
 		<label>Mission</label>
 		<p>Nous recherchons un(e) hôte(sse) d'accueil/ standardiste pour un site très prestigieuse à Paris dans le 75008 pour les missions suivantes:
			
			<ul>
				<li> Accueil physique et téléphonique</li>
				<li>Gestion du courrier/coursiers</li>
				<li>Prise de messages</li>
				<li>Réservation des salles</li>
				<li>Mise à jour des fichiers</li>
				<li>Accueil du personnel</li>
				<li>Organiser des réunions et conférences</li> 
			</ul>
		<label>Profil</label>
 		<p>Nous recherchons un(e) hôte(sse) d'accueil/ standardiste pour un site très prestigieuse à Paris dans le 75008 Anglais courant exigé </p>
 		<label>Rémunération</label>
 		<p>11,50 brut / heure</p>
 		<label>Postuler</label>
 			
			<p>Par email: recrutement@exelle.net <br>
			   Par téléphone: 01 45 89 41 67 <br>
			   Modalités : CV + lettre de motivation par mail, réf FNAIM <br>
			   Contact : Anande CROSS </p>
 		<button class="btn btn-primary">Postuler</button>
 	</section>

{% endblock %}